:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: #FFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wellcome {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-load-json {
  appearance: none;
  display: block;

  .fake-btn {
    display: inline-block;
    padding: 16px;
    transition: 1s;
    background-color: chocolate;
    transform: scale(1);
  }

  &:hover {
    .fake-btn {
      transform: scale(1.2);
    }
  }

  input {
    position: absolute;
    transform: scale(0.1);
    opacity: 0;
  }
}

.roda {
  animation: 1s girar;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes girar {
  0% {
    transform: rotate(0deg);
    font-size: small;
  }

  50% {
    font-size: xx-large;
  }

  100% {
    transform: rotate(360deg);
    font-size: small;
  }
}

[hidden] {
  display: none;
}

li {
  // background-color: #242424;
}

ol,
ul {
  padding-left: 20px;
}

.key {
  color: #4E9590;
}

ul>li {
  list-style: none;
}

ol {
  list-style-type: none;
  counter-reset: index -1;
}

ol>li {
  position: relative;
}

ol>li:before {
  // content: counter(index) ": ";
  // counter-increment: index;
  // position: absolute;
  // left: -1.2em;
}

details:not([open]) .brackets {
  &:after {
    content: '...]';
  }
}

details.object-in-array:not([open]) .braces,
details:not([open]) .braces {
  &:after {
    content: '{...}';
    color: #F2CAB8;
    font-weight: bold;
  }
}

details>summary {
  list-style: none;
}

details>summary::-webkit-details-marker {
  display: none;
}

ol, ul {
  border-left: 1px solid #BFBFBF;
}

.brackets {
  color: #F2CAB8;
  font-weight: bold;
}
.object-in-array>summary {
  color: #BFBFBF;
}

.index {
  color: #BFBFBF;
}
